<!DOCTYPE html>
<html lang="en">
<!-- CSS -->
    <link rel="stylesheet" href="/static/css/app.css">
    <style>
        .loader {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #F5F8FA;
            z-index: 9998;
            text-align: center;
        }

        .plane-container {
            position: absolute;
            top: 50%;
            left: 50%;
        }
        .maindiv{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .subdiv{
            width: 1000px;


        }
    </style>
    <!-- Js -->
    <!--
    --- Head Part - Use Jquery anywhere at page.
    --- http://writing.colin-gourlay.com/safely-using-ready-before-including-jquery/
    -->
    <script>(function(w,d,u){w.readyQ=[];w.bindReadyQ=[];function p(x,y){if(x=="ready"){w.bindReadyQ.push(y);}else{w.readyQ.push(x);}};var a={ready:p,bind:p};w.$=w.jQuery=function(f){if(f===d||f===u){return a}else{p(f)}}})(window,document)</script>
</head>
<head>
    <meta charset="UTF-8">
    <title>Display All Subategories</title>
</head>
<body>


<br><br>
<div class="maindiv">
<div class="subdiv">
<div class="container-fluid animatedParent animateOnce my-3">
        <div class="animated fadeInUpShort">
            <div class="row">
                <div class="col-md-12">
                    <div class="card no-b shadow">
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table table-hover ">
                                       <thead>
                                         <tr>
                                             <th>Model Picture</th>
                                            <th>Company Name</th>
                                            <th>Category Name</th>
                                            <th>Sub-Category Name</th>
                                             <th>Model Name</th>
                                            <th>Product Name</th>
                                             <th>Product Price</th>
                                            <th>manufacturing date</th>

                                         </tr>
                                    </thead>
                                    <tbody>
                                    {% for row in data %}
                                    <tr class="no-b">
                                        <td class="w-10">
                                            <a  href="/displayproductpicture?cid={{ row.0 }}&pic={{ row.8 }}">    <img src="/static/{{ row.8 }}" width="50" height="50"></a>
                                        </td>
                                        <td>
                                             <span>{{ row.9 }}</span>


                                        </td>
                                        <td>

                                            <span>{{ row.10 }}</span>


                                        </td>
                                        <td>

                                            <span>{{ row.11 }}</span>


                                        </td>
                                        <td>

                                            <span>{{ row.12}}</span>


                                        </td>
                                         <td>

                                            <span>{{ row.5 }}</span>


                                        </td>
                                         <td>

                                            <span>{{ row.6 }}</span>


                                        </td>
                                        <td>

                                            <span>{{ row.7 }}</span>


                                        </td>



                                        <td>
                                            <a  href="/displaybyproductid?cid={{ row.0 }}"  class="btn btn-block btn-floating"><i class="icon-mode_edit"></i></a>
<!--                                            <a href="/displaybyproductid?cid={{ row.0 }}" class="btn btn-block btn-floating"><i class="icon-delete"></i></a>-->
                                        </td>
                                    </tr>
                                    <tr>
                                        {%  endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</div></div>



</body>
<script src="/static/js/app.js"></script>


</html>
